<div id={{modalId}} class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Save Search</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group{{if error ' has-error' ''}}">
              <label class="col-sm-4 control-label">Name</label>
              <div class="col-sm-8">
                {{input-trim type="text" class="savedSearch-name form-control" value=savedSearch.name}}
                {{#if error}}
                  <span id="helpBlock" class="help-block">{{error}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button {{action 'save'}} type="button" class="btn btn-primary">Save</button>
        <button {{action 'cancel'}} type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{{yield}}
