<span class="mr-1" id="sort_column_{{target}}">{{yield}}</span>

{{#if separateIcons}}
  <div class="sortable-icon-col">
    <i class="sortable-icon{{if (not desc) ' active' ''}} fa fa-{{ascIcon}}" aria-hidden="true"></i>
    <i class="sortable-icon{{if desc ' active' '' }} fa fa-{{descIcon}}" aria-hidden="true"></i>
  </div>
{{else}}
  <i class="fa fa-{{singleIcon}}" aria-hidden="true"></i>
{{/if}}
